/*------------------------------------*\
    Typography and typograpic helpers
\*------------------------------------*/
.text-centered {
    text-align: center;
}

/*------------------------------------*\
    Pragmatic font sizing
\*------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //1rem 10px
    font-family: sans-serif;
    font-weight: normal;
}
