/*------------------------------------*\
    § Content wrappers
\*------------------------------------*/

.wrap {
    padding: 0 1rem;
    margin: 0 auto;

    @media(--medium) {
        max-width: 130rem;
    }
}
