/*------------------------------------*\
   Body
\*------------------------------------*/

html,body,div,h1,h2,p,img,ul,li,section{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}section,summary{display:block}

html,
body {
	scroll-behavior: smooth;
}

body {
	padding: 40px;
	font-family: monospace;
	background: #000;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrap {
	margin: auto;
	margin-top: 145px;
	margin-bottom: 60px;
	max-width: 1280px;
}

@media only screen and (max-width: 1400px) {
	.wrap {
		margin: 50px 0 0;
	}
}

.inner-wrap {
	margin: 0 52px;
}

@media only screen and (max-width: 600px) {
	.inner-wrap {
		margin: 0 0;
	}
}

.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

@media only screen and (min-width: 1024px) {
	.col-left {
		float: left;
		width: 65%;
	}
}

.col-right {
	float: right;
	width: 20%;
}

@media only screen and (max-width: 1024px) {
	.col-right {
		display: none;
	}
}

@media only screen and (max-height: 479px) {
	.col-right {
		display: none;
	}
}

.col-sticky {
    position: sticky;
    top: 0;
}

.block {
	padding: 80px 0;
}

.block--border-bottom {
	border-bottom: 1px solid #FFF;
}

	.block__inner {
		padding: 30px 0 0;
	}

	.block__inner + .block__inner {
		padding: 60px 0 0;
	}

.logo {
	display: block;
	max-width: 300px;
	fill: #FFF;
}

.main-title {
	padding-top: 10px;
	font-size: 35px;
	font-weight: 700;
	color: #FD979F;
}

.title {
	padding-bottom: 22px;
	font-size: 25px;
	font-weight: 700;
}

.title--small {
	margin-bottom: 22px;
	font-size: 20px;
	font-weight: bold;
}

.title--large {
	padding-bottom: 30px;
	font-size: 28px;
}

.title--pink {
	color: #FD979F;
}

p {
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 1.5em;
}

ul {
	font-size: 16px;
	line-height: 1.5em;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
	p {
		padding-right: 0px;
	}
}

strong {
	font-weight: 700;
	color: #fd979f;
}

.btn-container {
	padding-top: 30px;
}

.btn {
	background-color: #fd979f;
	padding: 10px 20px;
	color: #000;
	text-decoration: none;
	transition: color .2s linear;
}

.btn:hover {
	color: #FFF;
}

.pink-link {
	color: #FD979F;
}

.pink-link:hover {
	color: #FFF;
}

.quick-link {
	font-size: 20px;
	color: #FFF;
}

.quick-link:hover {
	color: #FD979F;
}

	.quick-link--btn {
		display: inline-block;
		margin-top: 20px;
	}

.widget-positions {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-bottom: 30px;
	list-style: none;
}

	.widget-positions__position {
		display: inline-block;
		padding: 4px 12px;
		margin: 0;
		line-height: 1.5em;
		margin-bottom: 5px;
		background: #fd979f;
		color: black;
	}

.quick-links {
	list-style-type: none;
    padding: 0;
}

	.quick-links__item {
		padding: 15px 0 0;
		list-style-type: none;
	}

input,
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 30px;
	background: #333;
	color: white;
	font-size: 16px;
	border: none;
	font-family: monospace;
	overflow: auto;
	box-sizing: border-box;
}

input:focus,
textarea:focus{
	outline: none;
	box-shadow: 0 0 0 4px #fd979f;
}

.validation_error,
.validation_message {
	font-size: 16px;
	color: #ff969e;
	margin-bottom: 20px;
}

.gform_confirmation_message_2 {
	font-size: 16px;
	color: #ff969e;
}

.gfield_label {
	margin-bottom: 10px;
    display: block;
}

.ginput_container input {
	margin-bottom: 15px;
}

.gform_validation_container {
	display: none;
}