{% block html_head_container %}
    {% include '_partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
    <!--[if lte IE 8]>
        <div class="browser-update">
            <div class="browser-update__message">
                You are viewing the site on an outdated and unsupported browser. Please Update your browser for the best experience by visiting <a href="https://browsehappy.com/">Browse Happy</a>.
                <a href="#close" class="browser-update__close"></a>
            </div>
        </div>
    <![endif]-->

    <body class="{{body_class}}" data-template="base.twig">
    	<header class="site-head" >
			{% block header %}
				<div class="wrap">
					<h1 class="visuallyhidden site-logo" role="banner">
						<a class="site-logo__link" href="{{site.url}}" rel="home">{{site.name}} {{options.foo}}</a>
					</h1>
				</div>
			{% endblock %}
		</header>
		<section id="content" role="main" class="site-main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrap">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>
		{% block footer %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
