/*------------------------------------*\
    Responsive variables
\*------------------------------------*/

/*----------------------------------------------------*\
    https://github.com/MoOx/postcss-cssnext/issues/253
    We can't use variables in media
    queries so using a sass variable to
    share between :root and custom media queries
\*----------------------------------------------------*/
$breakPoints: (
    small    : (48rem * .625),
    medium   : (76.8rem * .625),
    medLarge : (90rem * .625),
    large    : (102.4rem * .625),
    xLarge   : (120rem * .625)
)

/*------------------------------------*\
    Global declarations
\*------------------------------------*/
:root {
    @each $breakPoint, $width in $breakPoints {
        --bp-#{$breakPoint}: #{$width};
    }
}
