{% extends "_layouts/default.twig" %}

{% block content %}
	<img src="{{ asset('images/logo.svg') }}" class="logo" alt="All in. Leeds.">
	<div class="inner-wrap">
		<h1 class="main-title">Agency Toolkit</h1>
		<div class="cf">
			<div id="join-pack" class="block block--border-bottom">
				<h1 class="title title--large">404 not found</h1>
				<p>Sorry, we couldn't find what you're looking for.</p>
				<div class="btn-container">
					<a href="/" class="btn">Back home</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}