{% extends "_layouts/default.twig" %}
{% block content %}
	<img src="{{ asset('images/logo.svg') }}" class="logo" alt="All in. Leeds.">
	<div class="inner-wrap">
		<h1 class="main-title">Agency Toolkit</h1>
		<div class="cf">
			<div class="col-left">
				<div id="join-pack" class="block block--border-bottom">
					<h1 class="title title--large">Join pack</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas est sit amet hendrerit gravida. Nullam suscipit dapibus purus nec laoreet. Ut blandit nisl a magna porttitor, quis sodales risus rhoncus. Pellentesque eu blandit orci, non condimentum nisl. Aenean mollis mollis mi, vitae suscipit nisl tempor sit amet.</p>
					{{ function('do_shortcode', '[gravityform id=2 title=false description=true]') }}
				</div>
				<div id="widget-installation-instructions" class="block block--border-bottom">
					<h1 class="title title--large">Widget installation instructions</h1>
					<p>To install the widget, simply paste this script tag as close to the closing <strong>&lt;body&gt;</strong> tag as you can.</p>
					<input value="&lt;script src=&quot;https://widget.allinleeds.com/production/assets/js/widget.js&quot; id=&quot;_4sw&quot; data-pos=&quot;br&quot; async&gt;&lt;/script&gt;" onclick="select()">
					<p>You can dictate the position by setting the <strong>data-pos</strong> attribute on the script tag to one of the following values:</p>
					<ul class="widget-positions">
						<li class="widget-positions__position">br</li>
						<li class="widget-positions__position">bl</li>
						<li class="widget-positions__position">tr</li>
						<li class="widget-positions__position">tl</li>
					</ul>
					<p>By default it will show in the bottom right corner of the page.</p>
					<p>We've tested the widget in all modern browsers (>=IE11), it simply won't show in anything else.</p>
					<p>Issues installing? Head over to the <a class="pink-link" href="https://3.basecamp.com/4068260/join/FxC9CgA3kZdY" target="_blank">project Basecamp</a> to get some help.</p>
				</div>
				<div id="website-stamp" class="block block--border-bottom">
					<h1 class="title title--large">Website stamp</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas est sit amet hendrerit gravida. Nullam suscipit dapibus purus nec laoreet. Ut blandit nisl a magna porttitor, quis sodales risus rhoncus. Pellentesque eu blandit orci, non condimentum nisl. Aenean mollis mollis mi, vitae suscipit nisl tempor sit amet.</p>
				</div>
				<div id="social-post" class="block block--border-bottom">
					<h2 class="title title--large">Social post</h2>
					<p>We've created some social assets to support the launch of the campaign.</p>
					<p>To boost engagement, we highly recommend using a paid Instagram Story so you can add a call to action, allowing users to swipe up and read the full love letter.</p>
					<h2 class="title--small">Hashtags</h2>
					<p>The hashtags to be used on social content are:</p>
					<input value="#4sparks #allinleeds" onclick="select()">
					<h2 class="title--small">Tag Channel 4</h2>
					<p>Don’t forget to tag <strong>@channel4</strong> in any social content you post.</p>
					<h2 class="title--small">GIPHY</h2>
					<p>We have created some GIPHY stickers that can be used on Instagram Stories. Just search “all in leeds” to find them.</p>
					<h2 class="title--small">Amplify</h2>
					<p>All re-posts will really help amplify the message, so if you could get your teams to get involved in spreading the word / reposting content too, that'd be great.</p>
				</div>
				<div id="branding" class="block">
					<h2 class="title title--large">Branding</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas est sit amet hendrerit gravida. Nullam suscipit dapibus purus nec laoreet. Ut blandit nisl a magna porttitor, quis sodales risus rhoncus. Pellentesque eu blandit orci, non condimentum nisl. Aenean mollis mollis mi, vitae suscipit nisl tempor sit amet.</p>
					<div class="btn-container">
						<a href="http://clients.intermarketingagency.com/allinleeds/video/allinleeds-make-your-own.zip" class="btn">Download Videos</a>
					</div>
				</div>
			</div>
			<div class="col-right col-sticky">
				<nav class="block">
					<h2 class="title title--pink">Quick Links</h2>
					<ul class="quick-links">
						<li class="quick-links__item"><a href="#join-pack" class="quick-link">Join pack</a></li>
						<li class="quick-links__item"><a href="#widget-installation-instructions" class="quick-link">Website widget</a></li>
						<li class="quick-links__item"><a href="#website-stamp" class="quick-link">Website stamp</a></li>
						<li class="quick-links__item"><a href="#social-post" class="quick-link">Social Post</a></li>
						<li class="quick-links__item"><a href="#branding" class="quick-link">Branding</a></li>
						<li class="quick-links__item"><a href="/video/allinleeds--social.zip" class="btn quick-link--btn">Download all</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}
