{% extends "_layouts/default.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article">
				<h1 class="article__title">{{post.title}}</h1>
				<p class="article__author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a>
					{{post.post_date|date}}
				</p>
				<div class="article__body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
