/*------------------------------------*\
    Custom semantic media queries
\*------------------------------------*/

/*----------------------------------------------------*\
    https://github.com/MoOx/postcss-cssnext/issues/253
    We can't use variables in media
    queries so using a sass variable to
    share between :root and custom media queries
    @see variables/responsive.scss
\*----------------------------------------------------*/
@each $breakPoint, $width in $breakPoints {
    @custom-media --#{$breakPoint} (width >= #{$width});
}
