/*------------------------------------*\
   App css
   - based on an itcss architecture
   https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
\*----------------


/*------------------------------------*\
   § Settings
   - used with preprocessors and contain
   font, colors definitions, etc.
\*------------------------------------*/
@import "settings/_responsive";
@import "settings/_color";
@import "settings/_fonts";

/*------------------------------------*\
   § Tools
   - globally used mixins and functions
\*------------------------------------*/
@import "tools/_custom-queries";
@import "tools/_mixins";
@import "tools/_retina-sprites";

/*------------------------------------*\
   § Generic
   - reset and/or normalize styles,
   box-sizing definition, etc.
\*------------------------------------*/
@import "generic/_reset";
@import "generic/_box-sizing";
@import "generic/_general";

/*------------------------------------*\
   § Elements
   - styling for bare HTML
   elements (like H1, A, etc.).
\*------------------------------------*/
@import "elements/_body";
@import "elements/_img";

/*------------------------------------*\
   § Blocks
   - BEM modules.
\*------------------------------------*/
//@import "blocks/_loader";

/*------------------------------------*\
   § Components
   - Block groups e.g. header
\*------------------------------------*/
@import "components/_header";
@import "components/_footer";

/*------------------------------------*\
   § Utilities
   - utilities and helper classes.
\*------------------------------------*/
@import "utilities/_clearfix";
@import "utilities/_image-replacement";
@import "utilities/_visibility";
@import "utilities/_wrapper";
@import "utilities/_grids";
@import "utilities/_typography";
@import "utilities/_transitions";
