{% extends "_layouts/default.twig" %}
{% block content %}
	<div class="content-wrapper">
		<article class="page post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<h1 class="page__title">{{post.title}}</h1>
			<div class="page__body">
				{{post.content}}
			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
